<div class="header-container">
    <div class="site-name-wrapper">
        <!-- site name  -->
        <h2 class="web-tech-pie">WEB TECH PIE</h2>
    </div>
    <!-- menu wrapper will wrap the menus  -->
    <nav class="menu-wrapper">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Gallary</a></li>
            <li><a href="#">Contact us</a></li>

        </ul>

    </nav>
    <!-- search wrapper -->
    <div class="search-wrapper">

    </div>
</div>