<section class="section-two">
    <div class="servie-heading-wrapper">
        <a href="#">Areas what we serve </a>
        <h2 class="">Our Services</h2>
    </div>
    <!-- it will wrap all the boxes -->
    <div class="details-container">
        <!-- boxes 1 -->
        <div class="details-boxes details-wrapper">
            <div class="icon-wrapper">
                <a href="#"> <img src="./assets/images/icon-setting1.png"></a>
            </div>
            <div class="about-work">
                <h2 class="">Corporate Solution</h2>
                <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries,</p>
            </div>

        </div>
        <!-- boxes 2 -->
        <div class="details-boxes details-wrapper">
            <div class="icon-wrapper">
                <img src="./assets/images/call.png">
            </div>
            <div class="about-work">
                <h2 class="">Call Center Solutions</h2>
                <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries,</p>
            </div>

        </div>

        <!-- boxes 3-->
        <div class="details-boxes details-wrapper">
            <div class="icon-wrapper">
                <img src="./assets/images/cloud.png">
            </div>
            <div class="about-work">
                <h2 class="">Cloud Development</h2>
                <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries,</p>
            </div>

        </div>
        <!-- see all services -->
        <div class="all-service-btn-wrapper">
            <a href="#">See All Services</a>
        </div>

    </div>
</section>