<section class="section-five">
    <div class="team-details-wrapper">
        <h3 class="">WEB TECH PIE</h3>
        <h5 class="">Dummy text is text that is used in the publishing industry or by web designers to occupy the space which will later be filled with 'real' content. This is required when, for example, the final text is not yet available</h5>
    </div>
    <!-- it will contain all profiles -->
    <div class="team-profile-container">
        <!-- all details in profile wrapper -->
        <div class="profile-wrapper">
            <div class="intro-wrapper">
                <div class="img-wrapper">
                    <img src="./assets/images/profile1.png">
                </div>
                <div class="name-position">
                    <h3>Zack Rider</h3>
                    <h6>CEO & Founder</h6>
                </div>

            </div>
            <p class="">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains a series of real Latin
                words. This ancient dummy text is also incomprehensible</p>
        </div>

        <!-- 2 -->
        <div class="profile-wrapper">
            <div class="intro-wrapper">
                <div class="img-wrapper">
                    <img src="./assets/images/profile1.png">
                </div>
                <div class="name-position">
                    <h3>Zack Rider</h3>
                    <h6>CEO & Founder</h6>
                </div>

            </div>
            <p class="">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains a series of real Latin
                words. This ancient dummy text is also incomprehensible</p>
        </div>
        <!-- 3 -->
        <div class="profile-wrapper">
            <div class="intro-wrapper">
                <div class="img-wrapper">
                    <img src="./assets/images/profile1.png">
                </div>
                <div class="name-position">
                    <h3>Zack Rider</h3>
                    <h6>CEO & Founder</h6>
                </div>

            </div>
            <p class="">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains a series of real Latin
                words. This ancient dummy text is also incomprehensible</p>
        </div>




    </div>
</section>