  // variables
  $bgClrBlue: #4f90ec;
  $bgClrDarkBlue: blue;
  $bgClrWhite: white;
  $textClrWhite: white;
  $displayFlex: flex;
  $textClrGrey:#ada2a2e8;
  $marginSevenRem: 7rem 0;
  $fontFamCommiSans: 'Commissioner',
  sans-serif;