  // variables
  $bgClrBlue: #4f90ec;
  $bgClrDarkBlue: blue;
  $bgClrWhite: white;
  $textClrWhite: white;
  $displayFlex: flex;
  $textClrGrey:#ada2a2e8;
  // margin: 20px 1px;
  // padding: 20px 2px;