   //classes for extend
   .hover-effect {
       background-color: blue;
       color: $textClrWhite;
       transition: 0.9s all ease;
   }
   
   .img-icon-set {
       width: 100%;
       max-width: 30px;
   }
   
   .text-align {
       text-align: center;
   }
   
   .flexWrp-spaceEvenly {
       flex-wrap: wrap;
       justify-content: space-evenly;
   }
   
   .padding {
       padding: 20px 2px;
   }
   
   .font-weight-100 {
       font-weight: 100;
   }
   
   .bgCover {
       background-size: cover;
   }