.section-two {
    padding: 20px 2px;
    .servie-heading-wrapper {
        @extend .text-align;
        margin-bottom: 15px;
    }
    .details-container {
        display: $displayFlex;
        @extend .flexWrp-spaceEvenly;
        // flex-wrap: wrap;
        // justify-content: space-evenly;
        .details-boxes {
            width: 30%;
            @include border-radius(5px);
            border: solid rgb(190, 182, 182) 0.2px;
            &:hover {
                @extend .hover-effect;
            }
            .icon-wrapper {
                background-color: $bgClrBlue;
                width: 14%;
                border-radius: 0px 0px 35px 8px;
                padding: 3px;
                cursor: pointer;
                &:hover {
                    background-color: $bgClrWhite;
                }
            }
            img {
                @extend .img-icon-set;
                // width: 100%;
                // max-width: 30px;
                // filter: grayscale(10%);
            }
            .about-work {
                padding: 10px 12px;
                h2 {
                    margin: 10px 0px;
                    text-align: center;
                }
                p {
                    @include line-height(1.9); //word-spacing: 1px;
                }
            }
        }
    }
    .all-service-btn-wrapper {
        @extend .text-align;
        margin: 30px 0;
        a {
            background-color: $bgClrDarkBlue;
            @include padding(7px 13px);
            @include border-radius(2px);
            color: $textClrWhite;
            &:hover {
                background-color: $bgClrBlue;
            }
        }
    }
}