<section class="section-four">
    <div class="main-heading-wrapper">
        <a href="#">Who we are </a>
        <h2 class="">Meet the team</h2>
    </div>
    <!-- it will wrap all the boxes -->
    <div class="profile-container">
        <!-- profile and details wrapper -->
        <!-- 1 -->
        <div class="profile-wrapper">
            <div class="photo-wrapper">
                <img src="./assets/images/profile1.png">
            </div>
            <div class="details-container">
                <div class="details-wrapper">
                    <h3 class="">Ryan Wilson</h3>
                    <h5 class="position">CEO</h5>
                </div>
                <div class="social-wrapper">
                    <a href="#"><img class="social-icon" src="./assets/images/twitter.svg"></a>
                    <a href="#"><img class="social-icon" src="./assets/images/instagram.svg"></a>
                    <a href="#"><img class="social-icon" src="./assets/images/facebook-logo-2019.svg"></a>
                    <a href="#"><img class="social-icon" src="./assets/images/linked.svg"></a>
                </div>
            </div>
        </div>

        <!-- 2 -->
        <div class="profile-wrapper">
            <div class="photo-wrapper">
                <img src="./assets/images/profile2.jpg">
            </div>
            <div class="details-container">
                <div class="details-wrapper">
                    <h3 class="">Sam Robinson</h3>
                    <h5 class="position">Senior developer</h5>
                </div>
                <div class="social-wrapper">
                    <a href="#"><img class="social-icon" src="./assets/images/twitter.svg"></a>
                    <a href="#"><img class="social-icon" src="./assets/images/instagram.svg"></a>
                    <a href="#"><img class="social-icon" src="./assets/images/facebook-logo-2019.svg"></a>
                    <a href="#"><img class="social-icon" src="./assets/images/linked.svg"></a>
                </div>
            </div>
        </div>

        <!-- 3 -->
        <div class="profile-wrapper">
            <div class="photo-wrapper">
                <img src="./assets/images/profile4.jpg">
            </div>
            <div class="details-container">
                <div class="details-wrapper">
                    <h3 class="">Mary lee</h3>
                    <h5 class="position">Software developer</h5>
                </div>
                <div class="social-wrapper">
                    <a href="#"><img class="social-icon" src="./assets/images/twitter.svg"></a>
                    <a href="#"><img class="social-icon" src="./assets/images/instagram.svg"></a>
                    <a href="#"><img class="social-icon" src="./assets/images/facebook-logo-2019.svg"></a>
                    <a href="#"><img class="social-icon" src="./assets/images/linked.svg"></a>
                </div>
            </div>
        </div>

        <!-- 4 -->
        <div class="profile-wrapper">
            <div class="photo-wrapper">
                <img src="./assets/images/profile3.jpg">
            </div>
            <div class="details-container">
                <div class="details-wrapper">
                    <h3 class="">Jimmy Peterson</h3>
                    <h5 class="position">Senior developer</h5>
                </div>
                <div class="social-wrapper">
                    <a href="#"><img class="social-icon" src="./assets/images/twitter.svg"></a>
                    <a href="#"><img class="social-icon" src="./assets/images/instagram.svg"></a>
                    <a href="#"><img class="social-icon" src="./assets/images/facebook-logo-2019.svg"></a>
                    <a href="#"><img class="social-icon" src="./assets/images/linked.svg"></a>
                </div>
            </div>
        </div>

    </div>

</section>