<div class="section-one">

    <div class="popup-wrapper">
        <!-- for all details in popup -->
        <div class="popup-headings">
            <h2>IT Solution For Your Business</h2>
            <p>Since our establishment, we have been delivering hight quality and sustainable software solutions for corporate business purpose </p>
        </div>
        <!-- btn wrapper for more details -->
        <div class="popup-btn-wrapper">
            <a class="btn" href="#">Learn More</a>
            <a class="btn" href="#">Get in Touch</a>
        </div>
    </div>

</div>