        /* You can add global styles to this file, and also import other style files */
        
        * {
            margin: 0;
            padding: 0;
        }
        
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        body {
            font-family: 'Roboto', sans-serif;
        }
        
        // variables
        $bgClrBlue: #4f90ec;
        $bgClrDarkBlue: blue;
        $bgClrWhite: white;
        $textClrWhite: white;
        $displayFlex: flex;
        $bgImgSectionOne: url("./assets/images/pic-1.jpg");
        //all selectors
        a {
            text-decoration: none;
        }
        
        //all mixin
        @mixin border-radius($radius) {
            border-radius: $radius;
        }
        
        // for text color
        @mixin text-clr($textClr) {
            color: $textClr;
        }
        
        // for padding
        @mixin padding($padding) {
            padding: $padding;
        }
        
        // for line height
        @mixin line-height($lineHeight) {
            line-height: $lineHeight;
        }
        
        //  img width and height 
        @mixin imgWidthHeight($width,
        $height) {
            width: $width;
            height: $height;
        }
        
        //margin
        @mixin margin($margin) {
            margin: $margin;
        }
        
        //classes for extend
        .hover-effect {
            background-color: blue;
            color: $textClrWhite;
            transition: 0.9s all ease;
        }
        
        .img-icon-set {
            width: 100%;
            max-width: 30px;
        }
        
        // .cursor-pointer {
        //     cursor: pointer;
        // }
        .text-align {
            text-align: center;
        }
        
        .flexWrp-spaceEvenly {
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        
        //header 
        @import "./assets/css/header.scss";
        //section one
        @import "./assets/css/section-one.scss";
        //section two
        @import "./assets/css/section-two.scss";
        //section three
        @import "./assets/css/section-three.scss";
        //section four
        .section-four {
            @include padding(6rem 5px);
            .servie-heading-wrapper {
                @extend .text-align;
                @include margin(20px);
            }
            .profile-container {
                display: $displayFlex;
                @extend .flexWrp-spaceEvenly;
                .profile-wrapper {
                    width: 20%;
                    .photo-wrapper {
                        img {
                            @include imgWidthHeight(100%,
                            220px);
                            border-radius: 5px;
                        }
                    }
                    .details-container {
                        @extend .text-align;
                        .details-wrapper {
                            @include margin(10px 2px);
                            h5 {
                                margin: 5px 0;
                                color: #ada2a2e8;
                                font-weight: 100;
                            }
                        }
                        .social-wrapper {
                            .social-icon {
                                @include imgWidthHeight(6%,
                                0%);
                                margin: 2px;
                                &:hover {
                                    opacity: 60%;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        // url("./assets/images/pic-2.jpg");
        // // }