<section class="section-three">
    <div class="box-wrapper">
        <!-- it will wrap all the box in section three -->
        <!-- box 1 -->
        <div class="boxes">
            <div class="icon-wrapper">
                <a href="#"><img src="./assets/images/cloud.png"></a>
            </div>
            <h2 class="">Development</h2>
            <p class="">industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
        </div>
        <!-- box 2 -->
        <div class="boxes">
            <div class="icon-wrapper">
                <a href="#"><img src="./assets/images/cloud.png"></a>
            </div>
            <h2 class="">Creativity</h2>
            <p class="">industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
        </div>
        <!-- box 3 -->
        <div class="boxes">
            <div class="icon-wrapper">
                <a href="#"><img src="./assets/images/cloud.png"></a>
            </div>
            <h2 class="">Get your best</h2>
            <p class="">industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
        </div>
        <!-- box 4 -->
        <div class="boxes">
            <div class="icon-wrapper">
                <a href="#"><img src="./assets/images/cloud.png"></a>
            </div>
            <h2 class="">Passion</h2>
            <p class="">industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
        </div>
    </div>
</section>